* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 70vh;
  background: #1890ff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  background: #0a2e50;
  margin: 50px auto;
  border-radius: 10px;
}
h1 {
  color: #ffff;
  padding: 10px 30px;
}
.weights {
  width: 100%;
}
.wrapper input {
  width: 70%;
  height: 46px;
}
#gramsOutPut {
  width: 70%;
  height: 46px;
  background: rgb(238, 149, 53);
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

#kgOutPut {
  width: 70%;
  height: 46px;
  background: rgb(121, 206, 35);
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

#ounceOutPut {
  width: 70%;
  height: 46px;
  background: rgb(206, 70, 204);
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}
/* p {
  margin: 10px auto
} */
footer {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  bottom: 0;
  position: absolute;
  height: 10vh;
  justify-content: center;
}

header {
  background-color: aquamarine;
  height: 15vh;
  width: 100%;
  align-items: center;
  color: black;
  display: flex;
}
.name {
  font-size: 5vh;
}
.logout {
  margin-left: 10%;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 5vh;
}

.hold {
  display: flex;

  align-items: center;
  width: 80%;
}
.mytem {
  margin-left: 45%;
  text-align: center;
  font-size: 5vh;
  text-decoration: underline;
}
